services:
  db:
    image: mysql:8.0
    restart: unless-stopped
    container_name: economyapp-db
    env_file: .env
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      TZ: Europe/Madrid
    ports:
      - "${MYSQL_LOCAL_PORT}:3306"
    volumes:
      - ./economyapp-db/dumps:/docker-entrypoint-initdb.d
      - economyapp-db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 6
      # Pc mes lentos:
      # interval: 10s # Chequea cada 10 segundos.
      # timeout: 10s # Le das más tiempo antes de considerar TIMEOUT
      # retries: 15 # Esto significa que MySQL tiene hasta 150 segundos (2 min 30 s) para estar listo.
      # start_period: 40s # Evita que Docker marque el contenedor como “unhealthy” mientras todavía está ejecutando scripts de inicialización.
    
    networks:
      - economyapp-net

  api:
    container_name: economyapp-api
    depends_on:
      db:
        condition: service_healthy
    build: ./economyapp-api/EconomyApp
    restart: unless-stopped
    env_file: .env
    ports:
      - "${SPRING_LOCAL_PORT}:9090"
    volumes:
      - ./economyapp-api/Mediafiles:/EconomyApp/mediafiles
    environment:
      TZ: Europe/Madrid
      SPRING_APPLICATION_JSON: '{ "spring.datasource.url" : "jdbc:mysql://db/$MYSQL_DATABASE?useSSL=false&allowPublicKeyRetrieval=true","spring.datasource.driver-class-name" : "com.mysql.cj.jdbc.Driver", "spring.datasource.username" : "$MYSQL_USER", "spring.datasource.password" : "$MYSQL_PASSWORD", "spring.jpa.hibernate.ddl-auto" : "validate", "jwt.secret" : "$JWT_SECRET", "jwt.expiration" : "$JWT_EXPIRATION" }'

    networks:
      - economyapp-net

  web:
    image: nginx:alpine
    container_name: economyapp-web
    restart: unless-stopped
    volumes:
      - ./economyapp-web/web:/usr/share/nginx/html:ro
      - ./economyapp-web/nginx.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - "${NGINX_LOCAL_PORT}:80"
    environment:
      - TZ=Europe/Madrid
    networks:
      - economyapp-net

    # OPCIONAL: phpMyAdmin para gestionar la base de datos MySQL
#    phpmyadmin:
#      image: phpmyadmin:latest
#      container_name: phpmyadmin
#      restart: unless-stopped
#      ports:
#        - "8095:80" # Mapea el puerto 80 de phpMyAdmin al 8085 en tu máquina
#      environment:
#        PMA_ARBITRARY: 1                # Permite conectar a cualquier host
#        PMA_HOST: db # Nombre del servicio de MySQL que queremos gestionar
#        PMA_PORT: 3306
#        UPLOAD_LIMIT: 100M
#      networks:
#        - economyapp-net
#      depends_on:
#        - db

volumes:
  economyapp-db_data:

networks:
  economyapp-net:
    driver: bridge